
body {
  background-color: #008288;
  color: #008288;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

.currency-container {
  padding-block: 40px;
  padding-inline: 20px;
  max-width: 920px;
  margin-inline: auto;
  background-color: white;
  border-radius: 10px;
}

.currency-header {
  margin-bottom: 20px;
}

.currency-line {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.image-eth {
  max-width: 100%;
  height: auto;
}

.currency-image {
  width: 20px;
  height: 20px;
}

.currency-board {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.currency-boar__header {
  margin-bottom: 20px;
}

.currency-dashboar__item {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

.action-header {
  font-weight: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.currency-buttons {
  display: flex;
  gap: 16px
}

.currency-button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.4px;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: 0 1px 1px #0000000d;
  border-radius: 10px;
  transition: opacity 200ms, translate 200ms;
}

.currency-button:hover {
  opacity: 0.8;
  background-color: #00000014;
}

.currency-button:active {
  translate: 1px 1px;
}

.currency-button--active {
  opacity: 0.8;
  background-color: #00000014;
  translate: 1px 1px;
}

.currency-dashboar__item {
  width: 280px
}

.dialog {
  padding-block: 20px;
  padding-bottom: 10px;
  align-self: center;
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 10px;
}

.dialog::backdrop {
  opacity: 0.5;
}

.dialog-message {
  color: #008288;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 8px;
}

.form-label {
  font-weight: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  width: 50%;
  border: 1px solid #008288;;
  border-radius: 10px;
  padding: 13px;
  margin: 0;
  margin-bottom: 8px;
}

.balance-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.history-container {
  border: 1px solid #008288;
  border-radius: 10px;
  height: 100px;
  overflow-y: scroll;
}
